<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Get Token</button>
    </form>
    <p>Already have a token? <a href="/salary">Get Personal Data</a></p>
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}
</body>
</html>
